streamlit
python-dotenv

langchain
langchain-community
langchain-openai

chromadb

sentence-transformers
tiktoken

pypdf
pdfplumber

pandas
numpy
matplotlib
plotly

scikit-learn

requests

loguru

pytest